<!DOCTYPE html>
<html>

<head>
    <title>AVChat - Welcome</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="auth-container">
        <h1>Welcome to AVChat</h1>
        <a href="/login" class="btn">Getting Started</a>
    </div>
</body>

</html>